.content {
	position: absolute;
	margin-top: 10%;
	text-align: center;
	width: 100%;
}

.section {
	text-align: left;
	width: 90%;
	max-width: 200px;
	margin: auto;
	margin-bottom: 20px;
}
.section input {
	width: 100%;
}

#start {
	float: right;
}
